{% schema %}
  {
    "name": "COLLECTIONS",
    "settings": [],
    "presets": [
      {
        "name": "anywears-collections"
      }
    ]
  }
{% endschema %}

<script src="{{ "jquery.min.js" | asset_url }}"></script>
<script src="{{ "jquery-ui.min.js" | asset_url }}"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto+Mono:wght@200;300;400;500&display=swap" rel="stylesheet">


<div class="collections-container">
  <div class="collections-inner">
    <div class="collections-title">Explore our collections</div>

    <div class="collections-inner-container">

      <script>
        let Scollections = {};
      </script>

      {% for collection in collections %}
        {% if collection.size != 0 and collection.products.size != 0 %}
          <div class="collection-title-name">{{ collection.title }}</div>
        {% endif %}
        <script>
          Scollections[{{ collection.id }}] = [];
        </script>
        {% for collection_product in collection.products %}
          <script>
            Scollections[{{ collection.id }}].push({"id": "{{collection_product.id}}", "title": "{{collection_product.title}}", "href": "{{collection_product.url}}", "url": "{{ collection_product.featured_image  }}"});
          </script>

          {%- if forloop.index0 < 4 -%}
            <div class="collection" id="{{ collection_product.id }}">
              <div class="collection-left">

                <a href="{{ collection_product.url  }}">
                  <div class="collection-items">
                    <div class="collection-item">
                      <div class="collection-item-top" style="background-image: url({{ collection_product.url }})">
                        <div class="collection-overlay" style="display: block;"></div>
                        <div class="collection-item-title">{{ collection_product.title }}</div>
                      </div>
                      <div class="collection-item-bottom">
                        <div class="collection-item-title">{{ collection_product.title }}</div>
                        <div class="collection-item-price">${{ collection_product.price }}</div>
                        <div class="explore-item">
                          <div class="explore-item-icon" style="background-image: url('{{ "click.png" | asset_url }}')"></div>
                          <div class="explore-item-txt">Explore this item</div>
                        </div>
                      </div>
                    </div>
                  </div>
                </a>

              </div>
              <div class="collection-right">
                <div class="collection-items">
                  <a href="{{ collection_product.url  }}">
                    <div class="collection-item">
                      <div class="collection-item-top" style="background-image: url('http://cdn.shopify.com/s/files/1/0757/0164/9708/{{ collection_product.featured_image }}')">
                        <div class="collection-overlay" style="display: block;"></div>
                        <div class="collection-item-title">{{ collection_product.title }}</div>
                      </div>
                      <div class="collection-item-bottom">
                        <div class="collection-item-title">{{ collection_product.title }}</div>
                        <div class="collection-item-price">${{ collection_product.price }}</div>
                        <div class="explore-item">
                          <div class="explore-item-icon" style="background-image: url('{{ "click.png" | asset_url }}')"></div>
                          <div class="explore-item-txt">Explore this item</div>
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>

          {%- endif -%}

        {% endfor %}

        {% if collection.size != 0 and collection.products.size != 0 %}
          <a href="{{ collection.url }}" style="color: #000; text-decoration: none;">
            <div class="explore-collection">
              <div class="explore-collection-txt">Explore this collection</div>
              <div class="explore-collection-icon" style="display: inline-block; background-image: url('{{ "arrow_circle_right.png" | asset_url  }}')"></div>
            </div>
          </a>
        {% endif %}

      {% endfor %}

    </div>

    <!--<div class="collection">
    <div class="collection-left">
    <div class="collection-items">
    <div class="collection-item">
    <div class="collection-item-top">
    <div class="collection-item-overlay"></div>
    <div class="collection-item-title">Example Product</div>
    </div>
    <div class="collection-item-bottom">
    <div class="collection-item-title">Example Product</div>
    <div class="collection-item-price">$49.99</div>
    <div class="explore-item">
    <div class="explore-item-icon" style="background-image: url('{{ "click.png" | asset_url }}')"></div>
    <div class="explore-item-txt">Explore this item</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="collection-right">
    <div class="collection-items">
    <div class="collection-item">
    <div class="collection-item-top">
    <div class="collection-item-overlay"></div>
    <div class="collection-item-title">Example Product</div>
    </div>
    <div class="collection-item-bottom">
    <div class="collection-item-title">Example Product</div>
    <div class="collection-item-price">$49.99</div>
    <div class="explore-item">
    <div class="explore-item-icon" style="background-image: url('{{ "click.png" | asset_url }}')"></div>
    <div class="explore-item-txt">Explore this item</div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>--></div>
</div>

<script>

  function changeTile(collection_id, product_id, timeout) {}
</script>

{% style %}

  .explore-collection {
    position: relative;
    margin-top: 2em;
    cursor: pointer;
  }

  .explore-collection:hover .explore-collection-txt {
    margin-right: 2em;
  }

  .explore-collection-txt {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
    margin-right: 1em;
    transition: 0.4s ease all;
  }

  .explore-collection-icon {
    position: relative;
    display: inline-block !important;
    vertical-align: middle;
    height: 1.5em;
    width: 1.5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .collections-container {
    position: relative;
    width: 100%;
    padding: 4em 0;
    font-family: "Inter";
    height: fit-content;
  }

  .collections-inner {
    position: relative;
    width: 70%;
    left: 50%;
    transform: translate(-50%);
  }

  .collections-title {
    position: relative;
    font-size: 2.2em;
    margin-bottom: 2em;
    color: #F00;
  }

  .collection {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 25em;
    width: 15em;
    overflow: hidden;
  }

  .collection-title {
    position: relative;
    display: block;
    font-size: 1.65em;
    color: #000;
    padding-bottom: 0.4em;
    margin-bottom: 1em;
    width: 100%;
    border-bottom: 0.1em solid #ffc2c2;
  }

  .collection-title-name {
    position: relative;
    height: fit-content;
    margin-bottom: 0.7em;
    border-bottom: 0.1em solid #ffc2c2;
    font-size: 1.8em;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .collection-item {
    position: relative;
    display: inline-block !important;
    vertical-align: middle;
    height: 25em;
    width: 15em;
    margin: 0.25em;
    border-radius: 15px;
    overflow: hidden;
    background-color: #ccc;
    cursor: pointer
  }

  .collection-left,
  .collection-right {
    position: absolute;
    top: 0;
  }

  .collection-right {
    left: 0;
  }

  .collection-left {
    left: -100%;
  }

  .collection-item-top,
  .collection-item-bottom {
    position: absolute;
    display: block !important;
    height: 100%;
    width: 100%;
    transition: 0.5s ease all;
    cursor: pointer;
    box-sizing: border-box;
    padding: 2em;
  }

  .collection-item-top {
    color: #fff;
    top: 0;
    left: 0;
    background-color: #ccc;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .collection-item-bottom {
    top: 100%;
    left: 0;
    background-color: #F00;
    color: #fff;
  }

  .collection-item-title {
    position: relative;
    font-size: 1.65em;
    line-height: 1.5em;
    bottom: 0;
    margin-top: auto;
  }

  .collection-item-price {
    position: relative;
    font-size: 1.3em;
    color: #fff;
    margin-top: 1em;
  }

  .explore-item {
    position: relative;
    font-size: 1em;
    color: #fff;
    margin-top: 1em;
  }

  .explore-item-icon {
    position: relative;
    display: block !important;
    height: 2em;
    width: 2em;
    margin-bottom: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }

  .collection-item:hover .collection-item-bottom {
    top: 0;
  }
  .collection-item:hover .collection-item-top {
    top: -100%
  }
  .collection-overlay {
    position: absolute;
    display: block !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffc2c2;
    opacity: 0.6;
  }
{% endstyle %}